#contenedor-proyectos {
    /* background-color: #154360; */
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#contenedor-proyectos > #contenedor-titulo{
    grid-column: 12 / 13;
    grid-row: 1 / 13;
    color: #fff;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

.orientacion-titulo {
    writing-mode: vertical-lr; 
    margin: 0;
}

#contenedor-proyectos > #contenedor-carrusel{
    grid-column: 3 / 10;
    grid-row: 2 / 10;
}

#contenedor-proyectos > #contenedor-carrusel > #contenedor-imagen-flexible{
    display: flex;
    height: 100%;
    justify-content: center;
}

#contenedor-proyectos > #boton-siguiente{
    grid-column: 10 / 11;
    grid-row: 5 / 7;
}

.contenedor-boton-flexible{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#contenedor-proyectos > #boton-anterior{
    grid-column: 2 / 3;
    grid-row: 5 / 7;
}

#contenedor-proyectos > #descripcion-proyecto{
    grid-column: 3 / 10;
    grid-row: 10 / 12;
    text-align: center;
    align-self: center;
    color: #fff;
    font-size: 20px;
}

.boton-carousel{
    cursor: pointer;
    background-color: transparent;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.iconos{
    color: #fff;
    font-size: 50px;
}