<section id="contenedor-proyectos">
    <div id="contenedor-titulo">
        <p class="test1">PROYECTOS</p>
    </div>

    <div id="contenedor-carrusel">
        <div id="contenedor-imagen-flexible">
            <img [src]="imagen_actual" style="width: 50%;" alt="">
        </div>
    </div>

    <div id="boton-siguiente">
        <div class="contenedor-boton-flexible">
            <button class="boton-carousel" (click)="siguiente()"><i class="fa-solid fa-circle-right iconos"></i></button>            
        </div>
    </div>

    <div id="boton-anterior">
        <div class="contenedor-boton-flexible">
            <button class="boton-carousel" (click)="anterior()"><i class="fa-solid fa-circle-left iconos"></i></button>
        </div>
    </div>

    <div id="descripcion-proyecto">
        {{imagen_descripcion}}
    </div>
</section>