#contenedor-proyectos {
    background-color: #154360;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#contenedor-proyectos > #contenedor-titulo{
    grid-column: 12 / 13;
    grid-row: 1 / 13;
    color: #fff;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

.test1 {
    writing-mode: vertical-lr; 
    margin: 0;
}

#contenedor-proyectos > #contenedor-carrusel{
    background-color: tomato;
    grid-column: 3 / 10;
    grid-row: 3 / 11;
}

/* .contenedor-carrusel-nulo{
    display: none;
} */

#contenedor-proyectos > #boton-siguiente{
    grid-column: 10 / 11;
    grid-row: 6 / 7;
}

#contenedor-proyectos > #boton-anterior{
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  

