<section id="contenedor-proyectos">
    <div id="contenedor-titulo">
        <p class="orientacion-titulo">PROYECTOS</p>
    </div>

    <div id="contenedor-carrusel" [ngSwitch]="imagen">

        <div [ngClass]="{'puntero':esAdministrador}" class="contenedor-imagen-flexible" *ngSwitchCase="'0'"
            (click)="editarProyecto(descripciones[0])">
            <img [src]="descripciones[0].url" alt="" style="width: 512px;height: 272px;">
        </div>

        <div [ngClass]="{'puntero':esAdministrador}" class="contenedor-imagen-flexible" *ngSwitchCase="'1'"
            (click)="editarProyecto(descripciones[1])">
            <img [src]="descripciones[1].url" alt="" style="width: 512px;height: 234px;">
        </div>

        <div [ngClass]="{'puntero':esAdministrador}" class="contenedor-imagen-flexible" *ngSwitchCase="'2'"
            (click)="editarProyecto(descripciones[2])">
            <img [src]="descripciones[2].url" alt="" style="width: 512px;height: 272px;">
        </div>
    </div>

    <div id="boton-siguiente">
        <div class="contenedor-boton-flexible">
            <button class="boton-carousel" (click)="siguiente()"><i
                    class="fa-solid fa-circle-right iconos"></i></button>
        </div>
    </div>

    <div id="boton-anterior">
        <div class="contenedor-boton-flexible">
            <button class="boton-carousel" (click)="anterior()"><i class="fa-solid fa-circle-left iconos"></i></button>
        </div>
    </div>

    <div id="descripcion-proyecto">
        {{descripciones[indice_imagen].descripcionProyecto}}
    </div>
</section>

<app-editar-proyecto *ngIf="mostrarVentanaProyecto" (guardarDescripcion)="guardarDescripcion($event)"
    [descripcion]="descripcionActual"></app-editar-proyecto>