#contenedor-editar-stack {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#contenedor-editar-stack > #contenedor-formaulario {
    background-color: #154360;
    grid-column: 3 / 5;
    grid-row: 2 / 8;
    border: solid 1px #ccc;

    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);

    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta1 ."
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta1 ."
                         ". tarjeta2 tarjeta2 tarjeta2 tarjeta2 ."
                         ". tarjeta2 tarjeta2 tarjeta2 tarjeta2 ."
                         ". tarjeta3 tarjeta3 tarjeta3 tarjeta3 ."
                         ". tarjeta3 tarjeta3 tarjeta3 tarjeta3 ."
                         ". chip chip chip chip ."
                         ". chip chip chip chip ."
                         ". . . . . ."
                         ". boton boton boton boton .";
}

#contenedor-editar-stack > #contenedor-formaulario > #cabecera{
    background-color: #263238;
    grid-area: cabecera;
    font-size: 20px;
    text-align: center;
    align-self: center;
    color: #fff;
}

#contenedor-editar-stack > #contenedor-formaulario > .tarjeta1{
    grid-area: tarjeta1;
    position: relative;
    align-self: end;
}

#contenedor-editar-stack > #contenedor-formaulario > .tarjeta2{
    grid-area: tarjeta2;
    position: relative;
    align-self: end;
}

#contenedor-editar-stack > #contenedor-formaulario > .tarjeta3{
    grid-area: tarjeta3;
    position: relative;
    align-self: end;
}

#contenedor-editar-stack > #contenedor-formaulario > .chip{
    grid-area: chip;
    position: relative;
    align-self: end;
}

#contenedor-editar-stack > #contenedor-formaulario > #boton-aceptar {
    grid-area: boton;
}


/* #contenedor-editar-stack > #contenedor-formaulario > #componentes > #etiqueta-descripcion1{
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    align-self: flex-end;
}

#contenedor-editar-stack > #contenedor-formaulario > #componentes > #entrada-descripcion1{
    grid-column: 2 / 6;
    grid-row: 3 / 4;
}

#contenedor-editar-stack > #contenedor-formaulario > #componentes > #etiqueta-descripcion2{
    grid-column: 2 / 6;
    grid-row: 4 / 5;
    align-self: flex-end;
}

#contenedor-editar-stack > #contenedor-formaulario > #componentes > #entrada-descripcion2{
    grid-column: 2 / 6;
    grid-row: 5 / 6;
}

#contenedor-editar-stack > #contenedor-formaulario > #componentes > #etiqueta-descripcion3{
    grid-column: 2 / 6;
    grid-row: 6 / 7;
    align-self: flex-end;
}

#contenedor-editar-stack > #contenedor-formaulario > #componentes > #entrada-descripcion3{
    grid-column: 2 / 6;
    grid-row: 7 / 8;
}

#contenedor-editar-stack > #contenedor-formaulario > #componentes > #boton-aceptar{
    grid-column: 2 / 6;
    grid-row: 9 / 10;
} */