<div id="contenedor-editar-proyectos">
    <form id="contenedor-formaulario" [formGroup]="formulario">
        <div id="cabecera">
            <p>PROYECTOS</p>
        </div>

        <div class="descripcion1">
            <input type="text" placeholder="" class="entrada" required formControlName="descripcion">
            <label class="lbl-nombre">
                <span class="txt-nombre">Descripcion</span>
            </label>
        </div>

        <div id="boton-aceptar">
            <button class="boton" (click)="enviarProyecto()">Aceptar</button>
        </div>

    </form>
</div>