#contenedor-editar-skills {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

#contenedor-editar-skills>#contenedor-formaulario {
    background-color: #154360;
    grid-column: 2 / 3;
    grid-row: 2 / 7;

    display: grid;
    height: 100%;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(10, 1fr);

    grid-template-areas: "cb cb cb cb cb cb cb"
        ". rango1 rango1 . rango4 rango4 ."
        ". rango1 rango1 . rango4 rango4 ."
        ". rango2 rango2 . rango5 rango5 ."
        ". rango2 rango2 . rango5 rango5 ."
        ". rango3 rango3 . rango6 rango6 ."
        ". rango3 rango3 . rango6 rango6 ."
        ". . . . . . ."
        ". boton boton boton boton boton .";

    border: solid 1px #ccc;
}

#contenedor-editar-skills>#contenedor-formaulario>#cabecera {
    background-color: #263238;
    grid-area: cb;
    font-size: 20px;
    text-align: center;
    align-self: center;
    color: #fff;
}

#contenedor-editar-skills>#contenedor-formaulario>.rango1 {
    grid-area: rango1;
    position: relative;
    align-self: end;
}

#contenedor-editar-skills>#contenedor-formaulario>.rango2 {
    grid-area: rango2;
    position: relative;
    align-self: end;
}

#contenedor-editar-skills>#contenedor-formaulario>.rango3 {
    grid-area: rango3;
    position: relative;
    align-self: end;
}

#contenedor-editar-skills>#contenedor-formaulario>.rango4 {
    grid-area: rango4;
    position: relative;
    align-self: end;
}

#contenedor-editar-skills>#contenedor-formaulario>.rango5 {
    grid-area: rango5;
    position: relative;
    align-self: end;
}

#contenedor-editar-skills>#contenedor-formaulario>.rango6 {
    grid-area: rango6;
    position: relative;
    align-self: end;
}

#contenedor-editar-skills>#contenedor-formaulario>#boton-aceptar {
    grid-area: boton;
}