<div id="contenedor-editar-skills">
    <div id="contenedor-formaulario">
        <div id="cabecera">
            <p>SKILLS</p>
        </div>
        
        <div *ngFor="let skill of skills" [ngClass]="skill.claseEtiqueta">
            {{skill.nombre}}
        </div>

        <div *ngFor="let skill of skills" [ngClass]="skill.claseRango">
            <input type="range" min="1" max="100" value={{skill.valor}}>
        </div>

        <div *ngFor="let skill of skills" [ngClass]="skill.claseValor">
            <p style="margin: 0;">{{skill.valor}}</p>
        </div>
        
        <div id="boton-aceptar">
            <button class="boton" (click)="validarDatosSkills()">Aceptar</button>
        </div>
    </div>
</div>


<!-- <div id="boton-aceptar">
    <button class="btn" (click)="validarDatosSkills()">Aceptar</button>
</div> -->