<section id="contenedor-skills">
    <div id="contenedor-titulo">
        <p class="orientacion-titulo">SKILLS</p>
    </div>

    <div id="contenedor-grafico">
        <div id="contenedor-grafico-flexible">
            <!-- <div class="grafico-individual" *ngFor="let skill of skills.valor; let i=index">
                <div class="grafico-individual-cabecera">
                    <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="skill" [animated]="true"
                        [animationDuration]="2">
                    </mwl-gauge>
                </div>
                <div class="grafico-individual-cuerpo">
                    <p>{{skills.tecnologia[i]}}</p>
                </div>
            </div> -->

            <div [ngClass]="{'puntero':esAdministrador}" class="grafico-individual"
                *ngFor="let tecnologia of tecnologias; let i=index" (click)="editarTecnologia(i)">

                <div class="grafico-individual-cabecera">
                    <mwl-gauge [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001" [value]="tecnologia.valor"
                        [animated]="true" [animationDuration]="1">
                    </mwl-gauge>
                </div>
                <div class="grafico-individual-cuerpo">
                    <p>{{tecnologia.tipo}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="boton-editar" *ngIf="esAdministrador">
        <button (click)="abrirVentana()" class="boton-editar"><i class="fa-solid fa-user-pen icono-editar"></i></button>
    </div> -->
</section>

<!-- <app-editar-skills *ngIf="mostrarVentanaSkills" (validarFormulario)="validarFormulario($event)" [iniciarSkills]="config"></app-editar-skills> -->
<app-editar-skills *ngIf="mostrarVentanaSkills" (guardarTecnologia)="guardarTecnologia($event)" [tecnologia]="tecnologiaActual"></app-editar-skills>