#contenedor-acerca-de {
    background-color: #154360;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    grid-template-areas: ". . . . . . . . . . . titulo"
                         ". . . . . . . . . . . titulo"
                         ". . . . . . . . . . . titulo"
                         "foto foto foto foto . . . . . . . titulo"
                         "foto foto foto foto . saludo saludo saludo saludo saludo . titulo"
                         "foto foto foto foto . . . . . . . titulo"
                         "foto foto foto foto . subtitulo subtitulo subtitulo subtitulo subtitulo . titulo"
                         "foto foto foto foto . . . boton . . . titulo"
                         ". . . . . . . boton . . . titulo"
                         ". . . . . . . . . . . titulo"
                         ". . . . . . . . . . . titulo"
                         ". . . . . . . . . . . titulo";
}



#contenedor-acerca-de > #contenedor-foto{
    grid-area: foto;
}

#contenedor-acerca-de > #contenedor-foto > #flex-foto{
    display: flex;
    height: 100%;
    justify-content: center;
}

#contenedor-acerca-de > #contenedor-saludo{
    grid-area: saludo;
    margin: 0;
    color: #fff;
    font-size: 60px;
    justify-self: center;
}

#contenedor-acerca-de > #contenedor-sub-titulo{
   grid-area: subtitulo;
    color: #fff;
    font-size: 30px;
    justify-self: center;
}

#contenedor-acerca-de > #boton-editar{
    grid-area: boton;
    align-self: center;
    justify-self: center;
}

p{
    margin: 0;
}

#contenedor-acerca-de > #contenedor-titulo{
    grid-area: titulo;
    color: #fff;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}