#contenedor-acerca-de {
    background-color: #154360;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#contenedor-acerca-de > #contenedor-foto{
    grid-column: 1 / 5;
    grid-row: 3 / 8;
    /* border: solid 1px; */
}

#contenedor-acerca-de > #contenedor-foto > #flex-foto{
    display: flex;
    height: 100%;
    justify-content: center;
}

#contenedor-acerca-de > #contenedor-saludo{
    grid-column: 5 / 12;
    grid-row: 3 / 5;
    margin: 0;
    color: #fff;
    font-size: 60px;
    justify-self: center;
}

#contenedor-acerca-de > #contenedor-sub-titulo{
    grid-column: 5 / 12;
    grid-row: 5 / 6;
    color: #fff;
    font-size: 30px;
    justify-self: center;
}

#contenedor-acerca-de > #boton-editar{
    grid-column: 12 / 13;
    grid-row: 1 / 2;
}

p{
    margin: 0;
}

#contenedor-acerca-de > #contenedor-titulo{
    grid-column: 12 / 13;
    grid-row: 1 / 13;
    color: #fff;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

/* .orientacion-titulo {
    writing-mode: vertical-lr; 
    margin: 0;
} */