<section id="contenedor-acerca-de">
    <div id="contenedor-titulo">
        <p class="orientacion-titulo">ACERCA DE</p>
    </div>

    <div id="contenedor-foto">
        <div id="flex-foto">
            <img src="../assets/programacion.png" style="width: auto;" alt="">
        </div>        
    </div> 

    <div id="contenedor-saludo">
        <p>Hola Soy Luciano!</p>    
    </div>

    <div id="contenedor-sub-titulo">
        <p>Full Stack Developer Jr.</p>
    </div>

    <div id="boton-editar">
        <button (click)="desplegarVentanaAcercaDe()">editar</button>
    </div>
</section>

<app-editar-acerca-de *ngIf="mostrarVentanaAcercaDe" (cerrarVentana)="cerrarVentana()"></app-editar-acerca-de>

