<div class="contenedor-editar">
  <form class="contenedor-editar-formaulario" [formGroup]="formulario">
    <div class="contenedor-editar-formaulario-cabecera">
      <p>ACERCA DE</p>
    </div>

    <div class="contenedor-editar-formaulario-entrada">
      <input type="text" placeholder="" class="entrada" required formControlName= "nombre">
      <label class="lbl-nombre">
        <span class="txt-nombre">Nombre</span>
      </label>
    </div>

    <div class="contenedor-editar-formaulario-boton">
      <button class="boton" (click)="cerrarVentanaAcercaDe()">Aceptar</button>
    </div>
  </form>
</div>

<app-alerta *ngIf="mostrarAlerta" [mensajeAlerta]="textoAlerta"></app-alerta>
