<div id="contenedor-editar-acerca-de">
    <div id="contenedor-formaulario">
        <div id="componentes">
            <div id="cabecera">
                <p>ACERCA DE</p>
            </div>

            <div id="etiqueta-nombre">
                <p class="etiqueta">NOMBRE</p>
            </div>

            <div id="entrada-nombre">
                <input type="text" placeholder="nombre">
            </div>

            <div id="boton-aceptar">
                <button class="btn" (click)="cerrarVentanaAcercaDe()">Aceptar</button>
            </div>
        </div>
    </div>
</div>