<div id="contenedor-editar-acerca-de">
  <form id="contenedor-formaulario" [formGroup]="formulario">
    <div id="cabecera">
      <p>ACERCA DE</p>
    </div>

    <div id="nombre">
      <input type="text" placeholder="" class="entrada" required formControlName= "nombre">
      <label class="lbl-nombre">
        <span class="txt-nombre">Nombre</span>
      </label>
    </div>

    <div id="boton-aceptar">
      <button class="boton" (click)="cerrarVentanaAcercaDe()">Aceptar</button>
    </div>
  </form>
</div>