#contenedor-editar-acerca-de {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#contenedor-editar-acerca-de>#contenedor-formaulario {
    background-color: #154360;
    grid-column: 3 / 5;
    grid-row: 2 / 6;
    border: solid 1px #ccc;
}

#contenedor-editar-acerca-de>#contenedor-formaulario>#componentes {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#contenedor-editar-acerca-de>#contenedor-formaulario>#componentes > #cabecera{
    background-color: #263238;
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    font-size: 20px;
    text-align: center;
    align-self: center;
    /* margin: 0; */
    color: #fff;
}

#contenedor-editar-acerca-de > #contenedor-formaulario > #componentes > #etiqueta-nombre{
    grid-column: 2 / 8;
    grid-row: 3 / 4;
    align-self: flex-end;
}

#contenedor-editar-acerca-de > #contenedor-formaulario > #componentes > #entrada-nombre{
    grid-column: 2 / 8;
    grid-row: 4 / 5;
}

#contenedor-editar-acerca-de > #contenedor-formaulario > #componentes > #boton-aceptar{
    grid-column: 2 / 8;
    grid-row: 7 / 8;
}

.etiqueta{
    margin: 0;
    font-size: 12px;
    color: lightgray;
}
