<div id="contenedor-login">
  <form (submit)="login()" id="contenedor-formaulario">
    <div id="cabecera">
      <p>Log In</p>
    </div>

  <!-- cambiar nombre clases label -->
    <div id="usuario">
      <input type="text" placeholder="" class="entrada" required>
      <label class="lbl-nombre">
        <span class="txt-nombre">Nombre</span>
      </label>
    </div>

    <div id="clave">
      <input type="password" placeholder="" class="entrada" required>
      <label class="lbl-nombre">
        <span class="txt-nombre">Clave</span>
      </label>
    </div>

    <div id="boton-aceptar">
      <button class="boton">Aceptar</button>
    </div>
  </form>
</div>