#contenedor-login {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#contenedor-login>#contenedor-formaulario {
    background-color: #154360;
    grid-column: 5 / 9;
    grid-row: 2 / 8;

    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera cabecera cabecera"
                         ". usuario usuario usuario usuario usuario usuario ."
                         ". usuario usuario usuario usuario usuario usuario ."
                         ". clave clave clave clave clave clave ."
                         ". clave clave clave clave clave clave ."
                         ". . . . . . . ."
                         ". boton boton boton boton boton boton .";
}

#contenedor-login>#contenedor-formaulario>#cabecera {
    background-color: #263238;
    grid-area: cabecera;
    font-size: 20px;
    text-align: center;
    align-self: center;
    color: #fff;
}

#contenedor-login > #contenedor-formaulario > #usuario {
    grid-area: usuario;
    position: relative;
    align-self: end;
}

#contenedor-login > #contenedor-formaulario > #clave {
    grid-area: clave;
    position: relative;
    align-self: end;
}

#contenedor-login > #contenedor-formaulario > #boton-aceptar {
    grid-area: boton;
}