<app-cabecera (abrirLogin)="abrirLogin()" [inicioSesion]="iniciarPortfolio"></app-cabecera>
                                                          
<main *ngIf="iniciarPortfolio">
  <app-acerca-de></app-acerca-de>
  <app-stack></app-stack>
  <app-skills></app-skills>
 <app-proyectos></app-proyectos>
</main>

<app-alerta *ngIf="mostrarAlerta" [mensajeAlerta]="textoAlerta"></app-alerta>

<app-login *ngIf="mostrarLogin" (cerrarVentanaLogin)="cerrarLogin()" (enviarLogin)="enviarLogin($event)"></app-login>