<section id="contenedor-stack">
    <div id="contenedor-titulo">
        <p class="orientacion-titulo">STACK</p>
    </div>

    <div id="contenedor-tarjeta1">
        tarjeta 1
    </div>

    <div id="contenedor-tarjeta2">
        tarjeta 2
    </div>

    <div id="contenedor-tarjeta3">
        tarjeta 3
    </div>

    <div id="chip">
        

    </div>

    <div id="boton-editar">
        <button (click)="abrirVentanaEdicion()">editar</button>
    </div>
</section>

<app-editar-stack *ngIf="mostrarVentanaStack" (cerrarVentana)="cerrarVentana()"></app-editar-stack>

<!-- 

    <div id="contenedor-tarjetas">
        <div id="contenedor-tarjetas-flexible">
            <div class="item-tarjeta">
                <div class="item-tarjeta-cabecera">
                    <img src="./assets/angular.png" alt="">
                </div>
                <div class="item-tarjeta-cuerpo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa temporibus consequuntur consequatur veritatis in labore obcaecati dolorum sed repellat! Quae!                  
                </div>
                <div class="item-tarjeta-pie">
                    <i class="fa-brands fa-linkedin-in icono-editar"></i>
                </div>
            </div>

            <div class="item-tarjeta">
                <div class="item-tarjeta-cabecera">
                    <img src="./assets/spring.png" alt="">
                </div>
                <div class="item-tarjeta-cuerpo">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, cumque.                  
                </div>
                <div class="item-tarjeta-pie">
                    <i class="fa-brands fa-linkedin-in icono-editar"></i>
                </div>
            </div>

            <div class="item-tarjeta">
                <div class="item-tarjeta-cabecera">
                    <img src="./assets/mysql.png" alt="">
                </div>
                <div class="item-tarjeta-cuerpo">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, cumque.  
                </div>
                <div class="item-tarjeta-pie">
                    <i class="fa-brands fa-linkedin-in icono-editar"></i>
                </div>
            </div>
        </div>
    </div>

 -->