#contenedor-stack {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

#contenedor-stack > #contenedor-titulo{
    grid-column: 1 / 14;
    grid-row: 1 / 3;
    color: #fff;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

p{
    margin: 0;
}

#contenedor-stack > #contenedor-tarjetas{
    grid-column: 2 / 12;
    grid-row: 3 / 11;
    
}

#contenedor-stack > #contenedor-tarjetas > #contenedor-tarjetas-flexible{
    display: flex;        
    height: 100%;
}

#contenedor-stack > #contenedor-tarjetas > #contenedor-tarjetas-flexible > .item-tarjeta{
    background-color: #154360;
    flex-basis: 100%;
    margin: 10px;
    border-radius: 20px;
}

.icono-editar {
    /* padding: 5px; */
    color: #fff;
    font-size: 27px
}

.item-tarjeta > .item-tarjeta-cabecera {
    display: flex;
    flex-basis: 100px;
    justify-content: center;
    height: 50%;
    /* border: solid 1px; */
}

.item-tarjeta > .item-tarjeta-cuerpo {
    /* background-color: #154360; */
    display: flex;
    height: 40%;
    align-items: center;
    text-align: center;
    color: #fff;
    /* border: solid 1px; */
}

.item-tarjeta > .item-tarjeta-pie {
    height: 10%;
    display: flex;
    justify-content: center;
    /* border: solid 1px; */
}