<section id="contenedor-stack">
    <div id="contenedor-titulo">
        <p>STACK</p>
    </div>

    <div id="contenedor-tarjetas">
        <div id="contenedor-tarjetas-flexible">
            <div class="item-tarjeta">
                <div class="item-tarjeta-cabecera">
                    <img src="./assets/angular.png" alt="">
                </div>
                <div class="item-tarjeta-cuerpo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa temporibus consequuntur consequatur veritatis in labore obcaecati dolorum sed repellat! Quae!                  
                </div>
                <div class="item-tarjeta-pie">
                    <i class="fa-brands fa-linkedin-in icono-editar"></i>
                </div>
            </div>

            <div class="item-tarjeta">
                <div class="item-tarjeta-cabecera">
                    <img src="./assets/spring.png" alt="">
                </div>
                <div class="item-tarjeta-cuerpo">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, cumque.                  
                </div>
                <div class="item-tarjeta-pie">
                    <i class="fa-brands fa-linkedin-in icono-editar"></i>
                </div>
            </div>

            <div class="item-tarjeta">
                <div class="item-tarjeta-cabecera">
                    <img src="./assets/mysql.png" alt="">
                </div>
                <div class="item-tarjeta-cuerpo">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem, cumque.  
                </div>
                <div class="item-tarjeta-pie">
                    <i class="fa-brands fa-linkedin-in icono-editar"></i>
                </div>
            </div>
        </div>
    </div>
</section>
