#contenedor-stack {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);

    grid-template-areas: ". . . . . . . . . . . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". tarjeta1 tarjeta1 tarjeta1 tarjeta2 tarjeta2 tarjeta2 tarjeta3 tarjeta3 tarjeta3 . titulo"
                         ". . . . . . . . . . . titulo"
                         ". . chip chip chip chip chip chip chip . . titulo"
                         ". . chip chip chip chip chip chip chip . . titulo"
                         "boton . . . . . . . . . . titulo";

    grid-gap: 10px;
}

#contenedor-stack > #contenedor-titulo {
    grid-area: titulo;
    color: #fff;
    font-size: 50px;
    align-self: center;
    justify-self: center;
}

#contenedor-stack > .contenedor-tarjeta1{
    grid-area: tarjeta1;
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#contenedor-stack > .contenedor-tarjeta2{
    grid-area: tarjeta2;
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#contenedor-stack > .contenedor-tarjeta3{
    grid-area: tarjeta3;
    border: solid 1px #fff;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.cabecera-tarjeta{
    display: flex;
    height: 60%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.texto-tarjeta{
    background-color: #154360;
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
}

#contenedor-stack > #chip{
    grid-area: chip;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contenedor-stack > #chip > div{
    background-color: #154360;
    display: flex;
    height: 45%;
    align-items: center;
    
    margin: 5px 10px 0 0;
    /* border: solid 1px #fff; */
}

#contenedor-stack > #chip > div > p{
    font-size: 15px;
    padding: 0 10px 0 10px;
    color: #fff;
}

#contenedor-stack > #chip > div > button{
    margin-right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

#contenedor-stack > #chip > div > button > .icono-cerrar{
    color: #fff;
    font-size: 22px;
}

#contenedor-stack > #boton-editar{
    grid-area: boton;
}