<header>
    <div id="contenedor-cabecera">
        <div id="contenedor-imagen">
            <img src="../assets/Argentina_programa.png" style="width: 90%;" alt="">
        </div>

        <div id="contenedor-redes-sociales">
            
            <a href="https://www.linkedin.com/mynetwork/"><i class="fa-brands fa-linkedin-in icono-redes"></i></a>
            <a href="https://github.com/LucianoVega512"><i class="fa-brands fa-github icono-redes"></i></a>
            <button class="boton-editar" *ngIf="inicioSesion" (click)="abrirVentanaAdmin()"><i class="fa-solid fa-user-pen icono-redes"></i></button>
        </div>

        <div id="contenedor-banner">
            <div id="flex-banner">
                <img src="../assets/programacion.png" style="width: auto;" alt="">
            </div>
        </div>

        <div id="contenedor-boton-login">
            <button (click)="mostrarVentanaLogin()">Log In</button>
        </div>
    </div>
</header>

<app-administrador *ngIf="cerrarVentanaAdmin" (esEditable)="esEditable($event)"></app-administrador>