@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #263238;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.orientacion-titulo {
    writing-mode: vertical-lr;
    margin: 0;
}

.entrada {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    border: none;
    background: none;
    font-size: 18px;
    color:#fff;
    outline: 0px;
}

.lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: solid 2px #c7c7c7;
}

.txt-nombre{
    position: absolute;
    bottom: 10px;
    left: 0;
    transition: all 0.3s ease;
    color: #fff;
}

form .entrada:focus + 
.lbl-nombre > .txt-nombre, 
form .entrada:valid + 
.lbl-nombre > .txt-nombre{
    transform: translateY(-150%);
    font-size: 13px;
}

.boton {
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: solid 2px #fff;
    cursor: pointer;
    height: 100%;
    width: 100%;
    transition-duration: 0.4s;
}

.boton:hover {
    background-color: #263238;
    border:solid 2px #263238;
}

.boton-editar{
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.icono-editar{
    color: #fff;
    font-size: 28px;
    border: solid 1px #fff;
    padding: 12px 10px 12px 10px;
    border-radius: 50%;
}

.puntero{
    cursor: pointer;
}

.puntero:hover{
    border: solid 1px #fff;
}

/* --------------------------------------- */
.contenedor-editar {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.contenedor-editar-formaulario {
    background-color: #154360;
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    border: solid 1px #ccc;

    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);

    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera"
                         ". entrada entrada entrada entrada ."
                         ". entrada entrada entrada entrada ."
                         ". . . . . ."
                         ". boton boton boton boton .";

}

.contenedor-editar-formaulario-cabecera {
    background-color: #263238;
    grid-area: cabecera;
    font-size: 20px;
    text-align: center;
    align-self: center;
    color: #fff;
}

.contenedor-editar-formaulario-entrada {
    grid-area: entrada;
    position: relative;
    align-self: end;
}

.contenedor-editar-formaulario-boton {
    grid-area: boton;
}